<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.randomuser.tabsquare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RandomUserApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/ThemeNoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.activity.detailuser.DetailUserActivity"
            android:parentActivityName=".ui.activity.home.HomeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="Detail User" />

    </application>

</manifest>